# Crawford Mobility Database Loading

TJ Kim
Date: 4/16/21
Updated:

#### Summary:
- Yeonsei university dataset from Crawdad.
- Goal is to load dataset and make CSV similar to ONE mobility model.

In [6]:
import sqlite3
import pandas as pd

In [7]:
db = "LifeMap_GS1.db"

con = sqlite3.connect(db)
cur = con.cursor()

# reading all table names
table_list = [a for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
# here is you table list
print(table_list)

# Be sure to close the connection
con.close()

[('android_metadata',), ('locationTable',), ('sqlite_sequence',), ('apTable',), ('cellTable',), ('categoryTable',), ('categorySetTable',), ('edgeTable',), ('stayTable',), ('stayCommentTable',), ('configureTable',), ('noRadioTable',), ('batteryTable',), ('cellNodeTable',), ('cellEdgeTable',), ('sensorUsageTable',)]

In [10]:
cnx = sqlite3.connect(db)
df = pd.read_sql_query("SELECT * FROM locationTable", cnx)

In [11]:
df

,_node_id,_latitude,_longitude,_latitude_gps,_longitude_gps,_latitude_wifi,_longitude_wifi,_altitude,_accuracy,_accuracy_gps,_accuracy_wifi,_activity,_place_name,_time_location,_place_comment
0,1,37561812,126935396,0,0,37561812,126935396,0,60,100000,60,2,None,20110308113054TUE,None
1,2,37561970,126935365,0,0,37561970,126935365,0,75,100000,75,2,None,20110308113636TUE,None
2,3,37563357,126937822,0,0,37563357,126937822,0,60,100000,60,2,None,20110308114220TUE,None
3,4,37563098,126938256,0,0,37563357,126937822,0,1,100000,60,1,C000,20110310115017THU,None
4,5,37563651,126937587,0,0,37563651,126937587,0,44,100000,44,2,None,20110308120644TUE,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3490,4392,37559469,126933860,0,0,37559469,126933860,0,2093,100000,2093,2,None,20110719093113TUE,None
3491,4395,37561819,126942415,0,0,37561819,126942415,0,1915,100000,1915,2,None,20110719115124TUE,None
3492,4396,37557484,126934413,0,0,37557484,126934413,0,1557,100000,1557,2,None,20110719120059TUE,None
3493,4398,37551672,126928108,0,0,37551672,126928108,0,2010,100000,2010,2,None,20110719122916TUE,None
3494,4399,37560221,126934492,0,0,37560221,126934492,0,2010,100000,2010,2,None,20110719123644TUE,None

In [17]:
df['_node_id'][1]

2